<h3 id="p-name"><%= @product.name %></h3>
<p id="p-description"><%= @product.description %></p>
<p id="p-price"><%= @product.price %></p>
<p id="p-inventory"><%= @product.inventory %></p>

<a href="#">Next</a>